.statistics {
  width: 400px;
  margin-top: 10px;
  padding-top: 10px;
  border: 1px solid #111;
  border-radius: 4px;
  background-color: #f7f24c;
}

.titleContainer {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 32px;
}

.statList {
  display: flex;
  justify-content: space-between;

  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(100% / 5);
  border: 1px solid #111;
}
